div, p, ul, li, img{
    background-color: white;
}

.content2{
    width: 100%;
    background: var(--bgcolor);
    justify-content: center;
    align-items: center;
}

.title_choose_direction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--main_part_width);
    height: auto;
    margin: 0 calc((100% - var(--main_part_width)) * 0.5);
    padding: 0;
    font-weight: 500;
    font-size: calc(var(--font_size_const) * 1.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title_choose_direction div {
    margin: 0 5px;
    float: left;
    width: auto;
}

.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--main_part_width);
    margin: 0 calc((100% - var(--main_part_width)) * 0.5);
    padding: 0;
    background-color: var(--bgcolor);
    justify-content: center;
    text-align: center;
    font-size: var(--font_size_const);
}

.tracks li {
    display: flex;
    width: auto;
    max-width: 280px;
    height: 80px;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: var(--bgcolor);
    font-size: var(--font_size_const);
}

.tracks li button {
    display: inline-block;
    width: 100%;
    height: 70px;
    padding: 0 10px;
    text-align: center;
    border-radius: 10px;
    border-width: 0;
    background: var(--bgcolor);
    font-size: var(--font_size_const);
}

.tracks li :hover{
    background: #FFFFFF;
    scale: 1.1;
}

.tracks li :focus{
    background: #FFFFFF;
    font-weight: 500;
}

.direction_block {
    flex-wrap: wrap;
    width: var(--main_part_width);
    margin: 0 calc((100% - var(--main_part_width)) * 0.5);
    padding: 15px calc(var(--main_part_width) * 0.05);
    justify-content: center;
    align-items: center;
}

.extended_description {
    -ms-hyphens: auto;
    display: flex;
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--bgcolor);
    justify-content: center;
    align-items: center;
    font-size: var(--font_size_const);
}

.title_who_can_you_become{
    display: flex;
    width: max-content;
    margin: calc(var(--main_part_width) * 0.01) 0 0;
    justify-content: left;
    font-weight: 500;
    font-size: var(--font_size_const);
}

.specialties {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0;
    list-style-type: disc;
    width: calc(var(--main_part_width) * 0.9);
    font-size: var(--font_size_const);
}

.specialty {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: left;
    align-content: flex-start;
}

.entrance_tests_and_points{
    display: inline-block;
    width: calc((var(--main_part_width)) * 0.5 - 20px);
    min-width: 200px;
    padding: 10px;
    border: solid var(--aitip_red) 2px;
    border-radius: 10px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: var(--font_size_const);
}

.entrance_tests_and_points_title{
    width: auto;
    font-size: var(--font_size_const);
}

.entrance_tests_and_points ul {
    width: auto;
    background: white;
    padding: 0;
    margin: 0;
}

.entrance_tests_and_points ul>li {
    background: white;
    width: auto;
}

.documents_block{
    display: flex;
}

.document{
    display: inline-block;
    height: 50px;
}

.document_icon {
    width: 35px;
    height: 35px;
}