/* TODO: изменить подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

.Card {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 10px;
}   

.Card-top {
    flex-direction: column;
}

.Card-right {
    flex-direction: row-reverse;
}

.Card-bottom {
    flex-direction: column-reverse;
}

.Card-left {
    flex-direction: row;
}

.Card-image img {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    border-radius: 10px;
}

.Card-image-top, .Card-image-bottom {
    width: 100%;
    height: 50%;
}

.Card-image-right, .Card-image-left {
    width: 50%; 
    height: 100%
}

.Card-body {
    box-sizing: border-box;
}

.Card-body-top {
    height: 50%; 
    width: 100%; 
    padding: 0 20px 5px 34px;
}

.Card-body-right {
    height: 50%;
    width: 100%;
    padding: 20px 0 40px 34px;
}

.Card-body-bottom {
    height: 50%;
    width: 100%;
    padding: 20px 5px 0 34px;
}

.Card-body-left {
    width: 50%;
    height: 100%;
    padding: 20px 5px 40px 0;
}

.Card-body h1, p, li {
    word-wrap: break-word;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.Card-body h1 {
    margin: 0 0 6px 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.Card-body p {
    margin-bottom: 25px;
}

.Card-body p, li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.Card-megaList {
    padding-left: 0;
}

.Card-megaList li {
    margin-bottom: 25px;
}