* {
    --bgcolor: #EEEEEE;
    --main_part_width: 60vw;
    --font_size_const: calc(0.1vw + 8px);
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    /* overflow-x: hidden;
    width: 100vw;
    background: var(--bgcolor); */
}

.rootContainer {
    background-color: var(--bgcolor);
}

.content2{
    /* width: 100%; */
    /* background: var(--bgcolor); */
    /* justify-content: center;
    align-items: center; */
}

.title_choose_direction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--main_part_width);
    height: auto;
    margin: 0 calc((100% - var(--main_part_width)) * 0.5);
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--font_size_const) * 2);
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
}

.title_choose_direction div {
    margin: 0 5px;
    float: left;
    width: auto;
    background-color: #FFFFFF;
}

.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--main_part_width);
    margin: 0 calc((100% - var(--main_part_width)) * 0.5);
    padding: 0;
    justify-content: center;
    text-align: center;
}

.tracks li {
    display: flex;
    width: auto;
    max-width: 280px;
    height: 80px;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: calc(var(--font_size_const) * 1.3);
}

.tracks li button {
    display: inline-block;
    width: 100%;
    height: 70px;
    padding: 0 8px;
    text-align: center;
    border-radius: 10px;
    border-width: 0;
}

.tracks li :hover{
    background: #FFFFFF;
    scale: 1.1;
}

.tracks li :focus{
    background: #FFFFFF;
    font-weight: 500;
}

.direction_block {
    width: var(--main_part_width);
    margin: 0 calc((100% - var(--main_part_width)) * 0.5);
    justify-content: center;
    align-items: center;
    background: white;
}

.extended_description {
    -ms-hyphens: auto;
    display: flex;
    width: auto;
    margin: calc(var(--main_part_width) * 0.03) calc(var(--main_part_width) * 0.06);
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--bgcolor);
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font_size_const) * 1.3);
}

.title_who_can_you_become{
    display: flex;
    width: var(--main_part_width);
    margin: calc(var(--main_part_width) * 0.01) calc(var(--main_part_width) * 0.06);
    justify-content: left;
    font-weight: 500;
    font-size: calc(var(--font_size_const) * 1.5);
    background: white;
}

.specialties {
    list-style-type: disc;
    width: var(--main_part_width);
    margin: calc(var(--main_part_width) * 0.01) calc(var(--main_part_width) * 0.04);
    padding: 8px;
    background: white;
}

.specialty {
    background: white;
    margin: 0;
    padding: calc(var(--main_part_width) * 0.01);
    width: auto;
    max-width: 220px;
    height: auto;
    justify-content: left;
    align-content: flex-start;
    font-size: calc(var(--font_size_const) * 1.5);
}