/* TODO: изменить подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

p, li, h1, h2, h3, a {
    color: #292D32;
}

.Card {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 10px;
}   

.Card-top {
    flex-direction: column;
}

.Card-right {
    flex-direction: row-reverse;
}

.Card-bottom {
    flex-direction: column-reverse;
}

.Card-left {
    flex-direction: row;
}

.Card-image img {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    border-radius: 10px;
    object-fit: cover;
}

.Card-image-top, .Card-image-bottom {
    width: 100%;
    height: 50%;
}

.Card-image-right, .Card-image-left {
    width: 50%; 
    height: 100%
}

.Card-body {
    box-sizing: border-box;
}

.Card-body-top {
    height: 50%; 
    width: 100%; 
    padding: 0 20px 5px 34px;
}

.Card-body-right {
    height: 50%;
    width: 100%;
    padding: 20px 0 40px 34px;
}

.Card-body-bottom {
    height: 50%;
    width: 100%;
    padding: 20px 5px 0 34px;
}

.Card-body-left {
    width: 50%;
    height: 100%;
    padding: 20px 40px 40px 0;
}

.Card-body-none {
    padding: 40px 100px 40px 100px;
}

.Card-body h1, h2, p, li {
    word-wrap: break-word;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.Card-body h1 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.Card-body h2 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Card-body h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Card-body p {
    margin-bottom: 25px;
}

.Card-body a {
    text-decoration: none;
}

.Card-body p, li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.Card-megaList {
    padding: 0;
    margin: 20px 0 0 0;
}

.Card-megaList li:not(:last-child) {
    margin-bottom: 15px;
}

.Card-filesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 70px;
}

.Card-filesList-file {
    display: flex;
}

.Card-filesList-file img {
    margin-right: 15px;
}

.Card-filesList-file p {
    margin: 0;
    font-size: 20px;
    color: #292D32;
}