/* TODO: изменить подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

p, li, h1, h2, h3, a {
    color: #292D32;
}

.Card {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 10px;
}   

.Card-top {
    flex-direction: column;
}

.Card-right {
    flex-direction: row-reverse;
}

.Card-bottom {
    flex-direction: column-reverse;
}

.Card-left {
    flex-direction: row;
}

.Card-image img {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    border-radius: 10px;
    object-fit: cover;
}

.Card-image-top, .Card-image-bottom {
    width: 100%;
    height: 50%;
}

.Card-image-right, .Card-image-left {
    width: 50%; 
    height: 100%
}

.Card-body {
    box-sizing: border-box;
}

.Card-body-top {
    height: 50%; 
    width: 100%; 
    padding: 0 20px 5px 34px;
}

.Card-body-right {
    height: 50%;
    width: 100%;
    padding: 20px 0 40px 34px;
}

.Card-body-bottom {
    height: 50%;
    width: 100%;
    padding: 20px 5px 0 34px;
}

.Card-body-left {
    width: 50%;
    height: 100%;
    padding: 20px 40px 40px 0;
}

.Card-body-none {
    padding: 40px 100px 40px 100px;
}

.Card-body h1, h2, p, li {
    word-wrap: break-word;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.Card-body h1 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    word-wrap: normal;
}

.Card-body h2 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Card-body h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Card-body p {
    margin-bottom: 25px;
}

.Card-body a {
    text-decoration: none;
}

.Card-body p, li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.Card-megaList {
    padding: 0;
    margin: 20px 0 0 0;
}

.Card-megaList li:not(:last-child) {
    margin-bottom: 15px;
}

.Card-filesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 70px;
}

.Card-filesList-file {
    display: flex;
}

.Card-filesList-file img {
    margin-right: 15px;
}

.Card-filesList-file p {
    margin: 0;
    font-size: 20px;
    color: #292D32;
}

.Card-shiftedTitle {
    position: relative;
    left: -50px;
    width: fit-content;
}

.Card-width_1 {
    grid-column: span 1 / span 1;
}

.Card-width_2 {
    grid-column: span 2 / span 2;
}

.Card-width_3 {
    grid-column: span 3 / span 3;
}

.Card-width_4 {
    grid-column: span 4 / span 4;
}

.Card-width_5 {
    grid-column: span 5 / span 5;
}

.Card-width_6 {
    grid-column: span 6 / span 6;
}

.Card-width_7 {
    grid-column: span 7 / span 7;
}

.Card-width_8 {
    grid-column: span 8 / span 8;
}

.Card-width_9 {
    grid-column: span 9 / span 9;
}

.Card-width_10 {
    grid-column: span 10 / span 10;
}

.Card-width_11 {
    grid-column: span 11 / span 11;
}

.Card-width_12 {
    grid-column: span 12 / span 12;
}

.CardContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 60px 20px;
}

@media (max-width: 950px) {
    .Card-body-right, .Card-body-left, .Card-image-right, .Card-image-left {
        width: 45%;
    }
}

@media (max-width: 888px) {
    .Card-shiftedTitle {
        left: 0;
    }

    .Card-width_1, .Card-width_2, .Card-width_3, .Card-width_4, .Card-width_5, .Card-width_6, .Card-width_7, .Card-width_8, .Card-width_9, .Card-width_10, .Card-width_11 {
        grid-column: span 6 / span 6;
    }
}