* {
    --bgcolor: #EEEEEE;
    --aitip_grey: #999999;
    --aitip_black: #292D32;
    --aitip_blue: #076DB1;
    --aitip_red: #AD4820;
    --main_part_width: 60vw;
    --font_size_const: calc(calc(0.1vw + 10px) * 1.3);
    font-family: "Open Sans", sans-serif;
}

.root_component {
    background-color: white;
}